/* Overlay */
#wrc-referral-popup-overlay {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  z-index: 9999; /* High z-index to appear on top */
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack content vertically */
}

#wrc-referral-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#wrc-warning-message {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

#wrc-warning-message p {
  margin-top: 0px;
  margin-bottom: 10px;
}

#wrc-referral-form label {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  color: red;
  font-size: 12px;
}

#wrc-referral-code {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
}

#wrc-referral-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#wrc-cancel-button,
#wrc-skip-button,
#wrc-commit-button {
  width: 48%;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#wrc-commit-button {
  background-color: #4caf50;
  color: white;
}

#wrc-cancel-button:hover,
#wrc-skip-button:hover {
  background-color: #e7e7e7;
}

#wrc-commit-button:hover {
  background-color: #45a049;
}
